/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header h1,
header h2
 .header {
  text-align: top;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 20pt;
}

  
  /* Set full screen background image */
  header {
    background-image: url(images/Black-house-in-the-woods-Kireeva-Anna-USA-002.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Logo styles */
  .logo img {
    width: 200px;
  }
  
  /* Navigation styles */
  nav {
    margin-left: auto;
    display: flex;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Hero section styles */
  .hero {
    text-align: center;
    max-width: 800px;
    margin-top: 50px;
  }
  
  .hero h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .hero h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
  }
  
  .btn {
    display: inline-block;
    background-color: #fff;
    color: #333;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }
  
.social-icons {
display: block;
}
  