header {
	background-color: black;
	color: white;
	justify-content: space-between;
	padding: 10px;
    font-family:domus titling;
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    
}



.logo img {
	height: 10px;
}

.name {
	font-size: 24px;
}

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin-left: 20px;
}

nav a {
	color: white;
	text-decoration: none;
}

nav a:hover {
	color: gray;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
